.typing-principal{
	font-family: 'Fjalla One', sans-serif;
}

.letra-media{
	font-size: 1.3em;	
}

.avisos{
	font-size: 2em;
}

.botton{
	padding-bottom: 1em;
}

.separar{
	margin-top: 10px;
}

/* Estilo spinner */
.spinner input {
  text-align: right;
}

.input-group-btn-vertical {
  position: relative;
  white-space: nowrap;
  width: 2%;
  vertical-align: middle;
  display: table-cell;
}

.input-group-btn-vertical > .btn {
  display: block;
  float: none;
  width: 100%;
  max-width: 100%;
  padding: 8px;
  margin-left: -1px;
  position: relative;
  border-radius: 0;
}

.input-group-btn-vertical > .btn:first-child {
  border-top-right-radius: 4px;
}

.input-group-btn-vertical > .btn:last-child {
  margin-top: -2px;
  border-bottom-right-radius: 4px;
}

.input-group-btn-vertical i {
  position: absolute;
  top: 0;
  left: 4px;
}
/* FIN estilo spinner*/

/* Busqueda */

.boton {
	padding-top: 1.7em;
}

/* Titulos movil */

@media (max-width: 768px) {
	h1 {
		font-size: 13pt;
	}
	h2 {
		font-size: 13pt;
	}
	.logo {
		width: 20%;
	}
}
